/* ========================================== Common Styles ========================================== */
body {
	font-family: Calibri, sans-serif;
}
.container {
	max-width: 1400px;
	margin: 20px auto;
	padding: 0 15px;
}


/* ========================================== Form Styles ========================================== */
.filter {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px;
	border: 2px solid rgb(129, 127, 127);
	border-radius: 5px;
	box-shadow: 0 0 7px;
	margin-bottom: 20px;
}

/* ================== Filter By Name Styles ================== */
.filter-name {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.filter-name__input {
	border: 2px solid rgb(129, 127, 127);
	border-radius: 5px;
	padding: 10px;
}
.filter-name__input:focus {
	outline: 3px solid rgb(202, 202, 202);
}

/* ================== Filter By Gender Styles ================== */
/* .filter-gender {
	display: flex;
	gap: 15px;
	align-items: center;
	flex: 1 1 auto;
	position: relative;
}
.filter-gender__description {
	position: absolute;
	top: 0;
	left: 0;
}
.filter-gender__wrapper {
	margin-top: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}
.filter-gender__label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 2px solid rgb(130, 130, 128);
	border-radius: 5px;
	flex: 1 1 auto;
	padding: 0 5px;
}
.filter-gender__span__all {
	margin-right: 7px;
}
.filter-gender__input  {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;	
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.filter-gender__input:checked ~ .filter-gender__label {
	background-color: rgb(222, 222, 222);
	outline: 3px solid rgb(202, 202, 202);
} */

.filter-age-and-gender {
	display: flex;
	gap: 15px;
	align-items: center;
	flex: 1 1 auto;
	position: relative;
}
.filter-age-and-gender__description {
	position: absolute;
	top: 0;
	left: 0;
}
.filter-age-and-gender__wrapper {
	margin-top: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}
.filter-age-and-gender__label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 2px solid rgb(130, 130, 128);
	border-radius: 5px;
	flex: 1 1 auto;
	padding: 0 5px;
}
.filter-age-and-gender__span__all {
	margin-right: 7px;
}
.filter-age-and-gender__input  {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;	
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.filter-age-and-gender__input:checked ~ .filter-age-and-gender__label {
	background-color: rgb(222, 222, 222);
	outline: 3px solid rgb(202, 202, 202);
}

/* ================== Filter By Age Styles ================== */
/* .filter__by-age-wrapper {
	display: flex;
	gap: 20px;
	align-items: center;
	position: relative;
}
.filter__by-age-description {
	position: absolute;
	top: 0;
	left: 0;
}
.filter__by-age {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 27px;
	flex-grow: 1;
}	
.filter__by-age_input {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;	
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.filter__by-age_label {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 2px solid rgb(130, 130, 128);
	border-radius: 5px;
	padding: 2px 0;
	flex-grow: 1;
}
.by-age__all-label {
	padding: 9px 15px;
}
.filter__by-age_label_span {
	margin-left: 9px;
}
.by-age__all-span {
	margin-left: 0;
}
.filter__by-age-img {
	width: 30px;
}
.filter__by-age_input:checked ~ .filter__by-age_label {
	background-color: rgb(222, 222, 222);
	outline: 3px solid rgb(202, 202, 202);
}


.sort-by-alphabet {
	display: flex;
	gap: 20px;
	align-items: center;
	position: relative;
}
.sort-by-alphabet__description {
	position: absolute;
	top: 0;
	left: 0;
}
.sort-by-alphabet__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 27px;
	flex-grow: 1;
}
.sort-by-alphabet__input {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;	
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.sort-by-alphabet__label {
	cursor: pointer;
	border: 2px solid rgb(130, 130, 128);
	border-radius: 5px;
	padding: 8px 0;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
.sort-by-alphabet__span {
}
.sort-by-alphabet__input:checked ~ .sort-by-alphabet__label {
	background-color: rgb(222, 222, 222);
	outline: 3px solid rgb(202, 202, 202);
} */



/* ================================== People Cards ================================== */
.people {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.people__human {
	display: flex;
	flex-direction: column;
	background-color: rgb(165, 165, 165);
	width: calc(100px + 100 * ((100vw - 320px) / (1600 - 320)));;
	padding: 7px;
	box-shadow: 0 0 7px rgb(165, 165, 165);
	border-radius: 5px;
	flex: 1 1 auto;
}
.people__name {
	font-size: calc(14px + 4 * ((100vw - 320px) / (1600 - 320)));
	font-weight: 600;
	margin-top: 5px;
}
.people__img {
	width: 100%;
	border-radius: 5px;
}
.people__age {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: calc(14px + 2 * ((100vw - 320px) / (1600 - 320)));
}