/* ========================================== Common Styles ========================================== */
body {
	font-family: Roboto, sans-serif;
}
.container {
	max-width: 1400px;
	margin: 0 auto 30px;
	padding: 0 15px;
}


/* ========================================== Header Styles ========================================== */
.header {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@import "https://fonts.googleapis.com/css?family=Russo+One";
.funny-title {
	border-top: 5px solid #9b8191;
	border-bottom: 5px solid #9b8191;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Russo One',sans-serif;
	font-weight: 900;
	letter-spacing: 5px;
}
@-webkit-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
.title {
	-webkit-animation-play-state:running;
	-moz-animation-play-state:running;
	animation-play-state:running;
	color:transparent;
	background:url(https://obninsksite.ru/assets/theme/images/blog/square.svg) no-repeat #9b8191;
	background-size:cover;
	-webkit-text-fill-color:transparent;
	-moz-text-fill-color:transparent;
	-webkit-background-clip:text;
	-moz-background-clip:text;
	background-clip:text;
	-webkit-animation:move-background 20s infinite linear alternate;
	-moz-animation:move-background 20s infinite linear alternate;
	animation:move-background 20s infinite linear alternate
}






/* ========================================== Form Styles ========================================== */
.filter {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px;
	border: 2px solid rgb(129, 127, 127);
	border-radius: 5px;
	box-shadow: 0 0 7px;
	position: sticky;
	background-color: #fff;
	top: 5px;
	z-index: 5;
}

/* ================== Filter By Name Styles ================== */
.filter-name {
	flex: 1 1 auto;
	display: flex;
	gap: 7.3px;
	flex-direction: column;
}
.filter-name__input {
	border: 2px solid rgb(129, 127, 127);
	border-radius: 5px;
	padding: 10px;
	flex: 1 1 auto;
}
.filter-name__input:focus {
	outline: 3px solid rgb(202, 202, 202);
}

/* ================== Filter By Gender, Age, Alphabet Styles ================== */
.filter-gender-age-alphabet {
	display: flex;
	gap: 15px;
	align-items: center;
	flex: 1 1 auto;
	position: relative;
}
.filter-gender-age-alphabet__description {
	position: absolute;
	top: 0;
	left: 0;
}
.filter-gender-age-alphabet__wrapper {
	margin-top: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}
.filter-gender-age-alphabet__label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 2px solid rgb(130, 130, 128);
	border-radius: 5px;
	flex: 1 1 auto;
	padding: 0 5px;
}
.filter-gender-age-alphabet__input  {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;	
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.filter-gender-age-alphabet__input:checked ~ .filter-gender-age-alphabet__label {
	background-color: rgb(222, 222, 222);
	outline: 3px solid rgb(202, 202, 202);
}
/* ===== Filter OnLy By Gender Styles ===== */
.filter-gender__span_all {
	margin-right: 5px;
}
/* ===== Filter OnLy By Age Styles ===== */
.sort-by-age__label {
	padding: 2px;
	display: flex;
	gap: 2px;
}
.sort-by-age__label_all {
	padding: 10px;
}
/* ===== Filter OnLy By Alphabet Styles ===== */
.sort-by-alphabet__label {
	padding: 10px;
}







/* ================================== People Cards ================================== */
.wrapper {
	margin-top: 20px;
}
.people {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.people__human {
	display: flex;
	flex-direction: column;
	width: calc(100px + 115 * ((100vw - 320px) / (1600 - 320)));
	padding: 7px;
	box-shadow: 0 0 7px rgb(165, 165, 165);
	border-radius: 5px;
	flex: 1 1 auto;
	position: relative;
}
.people__human_male {
	background-color: rgb(202, 200, 200);
}
.people__human_female {
	background-color: rgb(245, 219, 252);
}
.people__name {
	font-size: calc(14px + 4 * ((100vw - 320px) / (1600 - 320)));
	font-weight: 600;
	margin-top: 5px;
}
.people__img {
	width: 100%;
	border-radius: 5px;
}
.people__age {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: calc(14px + 2 * ((100vw - 320px) / (1600 - 320)));
}
.people__gender {
	width: calc(25px + 20 * ((100vw - 320px) / (1600 - 320)));
	position: absolute;
	right: 0;
	bottom: 3px;
}



/* ================================== Footer Styles ================================== */
.footer {
	height: 60px;
	background-color: rgb(105, 106, 103);
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__description {
	color: rgb(153, 152, 152);
}
.footer__link {
	color: rgb(153, 152, 152);
}








/* ================================== Media Request Styles ================================== */
@media (max-width: 1094px) {
	.filter-gender__span_all,
	.filter-gender__span {
		display: none;
	}
}
@media (max-width: 930px) {
	.filter {
		font-size: 14px;
	}
	.filter-gender-age-alphabet__wrapper {
		margin-top: 20px;
	}
	.filter-gender-age-alphabet {
		gap: 12px;
	}
	.filter-gender-age-alphabet__label {
		padding: 0;
	}
	.filter-name {
		gap: 7px;
	}
	.filter-name__input {
		padding: 6px;
	}
	.filter-gender-age-alphabet__img {
		width: 28px;
	}
	.filter-gender__all {
		padding: 0 5px;
	}
	/* ===== Filter OnLy By Age Styles ===== */
	.sort-by-age__label {
		padding: 0;
	}
	.sort-by-age__label_all {
		padding: 7px 7px;
	}
	.sort-by-age__span {
		display: none;
	}
	/* ===== Filter OnLy By Alphabet Styles ===== */
	.sort-by-alphabet__label {
		padding: 7px;
	}
}
@media (max-width: 674px) {
	.filter {
		gap: 18px;
	}
	.filter-gender-age-alphabet__wrapper {
		margin-top: 18px;
	}
	.filter-gender-age-alphabet {
		gap: 8px;
	}
	.filter-name {
		gap: 4.2px;
	}
}
@media (max-width: 500px) {
	.header {
		height: 70px;
	}
	.container {
		padding: 0 10px;
	}
	.title {
		font-size: 34px;
		letter-spacing: 3px;
	}
	.filter {
		gap: 12px;
		padding: 8px;
	}
	.filter-name {
		gap: 3.7px;
	}
	.filter-name__label {
		min-width: none;
	}
	.filter-name__input {
		padding: 6px 0px 6px 5px;
	}
	.sort-by-alphabet__label {
		padding: 7px 4px;
	}
	.sort-by-alphabet__label_all {
		padding: 7px 5px;
	}
	.filter-gender-age-alphabet {
		gap: 7px;
	}
	.filter-gender-age-alphabet__input:checked ~ .filter-gender-age-alphabet__label {
    outline: 2px solid rgb(202, 202, 202);
	}	
}
@media (max-width: 400px) {
	.filter {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.filter-name__input {
		width: 100%;
	}
}
